DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
REDIS_HOST=

JWT_ISSUER=
JWT_AUDIENCE=
JWT_KEY=
JWT_EXPIRATION=

RABBITMQ_HOST=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

PEPPER=

YARP_GATEWAY_KEY==

FRONTEND_ORIGIN=